@import "./transition";
@import "./element-plus";
@import "./sidebar";
@import "./dark";

/* 自定义全局 CssVar */
:root {
  /* 左侧菜单展开、收起动画时长 */
  --pure-transition-duration: 0.3s;

  /* 常用border-color 需要时可取用 */
  --pure-border-color: rgb(5 5 5 / 6%);

  /* switch关闭状态下的color 需要时可取用 */
  --pure-switch-off-color: #a6a6a6;
}
/* 全局滚动条样式 */
.scrollable {
  -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(50, 50, 50, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(50, 50, 50, 0.6);
}

::-webkit-scrollbar-track {
  background-color: rgba(50, 50, 50, 0.1);
}

::-webkit-scrollbar-track:hover {
  background-color: rgba(50, 50, 50, 0.2);
}

/*****************************************/
.pure-segmented-item-selected {
  background-color: var(--el-color-primary) !important;
}
.background-color {
  background-color: var(--el-bg-color);
}
/*****************************************/

.main,
.el-container {
  height: 100%;
}
.el-header {
  background: var(--el-bg-color);
  border-bottom: 1px solid var(--el-border-color-light);
  padding: 13px 15px;
  justify-content: space-between;
}

.el-header,
.el-header .left-panel,
.el-header .right-panel {
  display: flex;
  align-items: center
}

.el-header .right-panel>*+* {
  margin-left: 10px
}
.el-main {
  flex-basis: 100%;
  height: 100%;
}
.el-main.nopadding {
  padding: 0;
  background: var(--el-bg-color);
  height: 100%;
}
/* 灰色模式 */
.html-grey {
  filter: grayscale(100%);
}

/* 色弱模式 */
.html-weakness {
  filter: invert(80%);
}
