// 优化element 组件样式

:root {
  --header-box-shadow: 0 1px 2px rgb(0, 21, 41, 0.08);
  --sider-box-shadow: 2px 0 8px 0 rgb(29, 35, 41, 0.05);
  --sider-box-shadow-v2: 3px 4px 9px 1px rgba(202, 202, 202, 0.72);
  --tab-box-shadow: 0 1px 2px rgb(0, 21, 41, 0.08);
  --tab-box-shadow-v2: 0 2px 4px rgb(0, 21, 41, 0.1);
  --sider-box-shadow: 2px 0 8px 0 rgb(29, 35, 41, 0.05);
  --un-ring-offset-shadow: 0 0 rgb(0 0 0 / 0);
  --un-ring-shadow: 0 0 rgb(0 0 0 / 0);
  --un-ring-color: rgb(147 197 253 / 0.5);
  // 系统主色
  --main-color: var(--el-color-primary);
  --el-color-white: white !important;
  --el-color-black: white !important;
  // 输入框边框颜色
  // --el-border-color: #E4E4E7 !important; // DCDFE6
  // 按钮粗度
  --el-font-weight-primary: 400 !important;

  // 边框、按钮圆角...
  --el-border-radius-base: calc(var(--custom-radius) / 2 + 2px) !important;

  --el-border-radius-small: 10px !important;
  --el-messagebox-border-radius: 10px !important;
  --custom-radius: 0.5em;
  .region .el-radio-button__original-radio:checked + .el-radio-button__inner {
    color: var(--main-color);
  }
}
.filter-bolin {
  filter: url(#noise);
  -webkit-filter: url(#noise);
  -ms-filter: url(#noise);
}
.shadow-tab {
  --un-shadow: var(--tab-box-shadow-v2);
  box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow) !important;
  border-top: 1px solid var(--el-border-color-light);
}
.shadow-sider {
  --un-shadow: var(--sider-box-shadow);
  box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);
}
/**
* 溢出省略号
* @param {Number} 行数
*/
@mixin ellipsis($rowCount: 1) {
  @if $rowCount <=1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $rowCount;
    -webkit-box-orient: vertical;
  }
}
.el-custom-line {
  border: 1px solid var(--el-border-color);
}
//--el-bg-color
.main-content {
  background-color: var(--el-bg-color);
  border: 1px solid var(--el-card-border-color);
  border-radius: var(--el-card-border-radius);
  color: var(--el-text-color-primary);
  overflow: hidden;
  transition: var(--el-transition-duration);
  --un-shadow: var(--sider-box-shadow);
  box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);
}
.sidebar-custom {
  --un-shadow: var(--sider-box-shadow);
  box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);
}
.sidebar-custom-v2 {
  --un-shadow-v2: var(--sider-box-shadow-v2);
    box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow-v2);
}
.ltr {
  border-radius: 0 calc(var(--layoutRadius)) calc(var(--layoutRadius)) 0 !important;
}
.rtl {
  border-radius: calc(var(--layoutRadius)) 0 0 calc(var(--layoutRadius)) !important;
}
.custom-tree-node,
.el-tree-node {
  --el-tree-node-height: 36px;
  min-height: var(--el-tree-node-height);
  .el-tree-node__content {
    min-height: var(--el-tree-node-height);
  }
}
.el-input {
  .el-input__wrapper {
    // background-color: rgba(var(--art-gray-200-rgb), 0.8);
    border: 1px solid var(--art-border-dashed-color);
    border-radius: calc(var(--custom-radius) / 2 + 2px) !important;
    box-shadow: none;
  }

  .el-input__inner {
    color: var(--art-gray-600) !important;
  }

  .search-keydown {
    display: flex;
    align-items: center;
    height: 20px;
    padding: 0 4px;
    color: var(--art-gray-500);
    background-color: var(--art-bg-color);
    border-radius: 4px;

    i {
      font-size: 12px;
    }

    span {
      margin-left: 2px;
      font-size: 12px;
    }
  }
}
.btn-text {
  display: inline-block;
  min-width: 34px;
  height: 34px;
  padding: 0 10px;
  font-size: 13px;
  line-height: 34px;
  cursor: pointer;
  border-radius: 6px;
  padding-top: 2px;
}

.el-dialog {
  border-radius: var(--layoutRadius) !important;
}
.el-form-item-msg {
  color: #a7a7a7;
  font-size: 12px;
}
/* 全局滚动条样式 */
.scrollable {
  -webkit-overflow-scrolling: touch;
}
.highlight {
  background-color: yellow;
  font-weight: bold;
}
.el-loading-parent--relative {
  position: fixed !important;
}

/* 滚动条样式 */
.content-box::-webkit-scrollbar {
  width: 0px; /*  设置纵轴（y轴）轴滚动条 */
  height: 0px; /*  设置横轴（x轴）轴滚动条 */
}
/* 滚动条滑块（里面小方块） */
.content-box::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}
/* 滚动条轨道 */
.content-box::-webkit-scrollbar-track {
  border-radius: 0;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.1);
}
/* hover时显色 */
.content-box:hover::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(50, 50, 50, 0.3) !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(50, 50, 50, 0.6) !important;
}

::-webkit-scrollbar-track {
  background-color: rgba(50, 50, 50, 0.1) !important;
}

::-webkit-scrollbar-track:hover {
  background-color: rgba(50, 50, 50, 0.2) !important;
}

/*****************************************/

.card-append {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  color: #999;
}
.card-item {
  min-height: 180px;
}
.app-container {
  padding: 15px;
}
.background-color {
  background-color: var(--el-bg-color);
}
.right-panel {
  min-width: 100px;
}

section.panel-padding > main,
section.panel-padding > header,
section.panel-padding > section,
section.panel-padding > aside {
  padding: 10px;
  border: unset;
  > div > div {
    border-radius: var(--el-border-radius-round);
    -webkit-border-radius: var(--el-border-radius-round);
    -moz-border-radius: var(--el-border-radius-round);
    -ms-border-radius: var(--el-border-radius-round);
    -o-border-radius: var(--el-border-radius-round);
  }
}
/*****************************************/

.main,
.el-container {
  height: 100%;
}
.el-header {
  background: var(--el-bg-color);
  border-bottom: 1px solid var(--el-border-color-light);
  padding: 13px 15px;
  justify-content: space-between;
}

.el-header,
.el-header .left-panel,
.el-header .right-panel {
  display: flex;
  align-items: center;
}

.el-header .right-panel > * + * {
  margin-left: 10px;
}
.el-main {
  flex-basis: 100%;
  height: 100%;
}
.el-main.nopadding {
  padding: 0;
  background: var(--el-bg-color);
  height: 100%;
}
/* 灰色模式 */
.html-grey {
  filter: grayscale(100%);
}

/* 色弱模式 */
.html-weakness {
  filter: invert(80%);
}

.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
  border-radius: 6px;
}

.el-popover {
  min-width: 80px;
}

.el-dialog__header {
  padding: 10px 10px;
}

.el-dialog__body {
  padding: 25px 10px !important;
}

.el-dialog__footer {
  padding: 10px 10px !important;
  // border-top: 1px solid #F0F0F0;
}

// ✅ el-message 样式优化
.el-message {
  background-color: var(--art-main-bg-color) !important;
  border: 0 !important;
  box-shadow:
    0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.05) !important;

  p {
    color: #515a6e !important;
    font-size: 13px;
  }
}
.el-dropdown-selfdefine:focus {
  outline: none !important;
}

// 处理移动端组件兼容性
// @media screen and (max-width: $device-phone) {
//   .el-message-box,
//   .el-message,
//   .el-dialog {
//     width: calc(100% - 24px) !important;
//   }

//   .el-date-picker.has-sidebar.has-time {
//     width: calc(100% - 24px);
//     left: 12px !important;
//   }

//   .el-picker-panel *[slot="sidebar"],
//   .el-picker-panel__sidebar {
//     display: none;
//   }

//   .el-picker-panel *[slot="sidebar"] + .el-picker-panel__body,
//   .el-picker-panel__sidebar + .el-picker-panel__body {
//     margin-left: 0;
//   }
// }

// 修改el-button样式
.el-button {
  &.el-button--text {
    background-color: transparent !important;
    padding: 0 !important;

    span {
      margin-left: 0 !important;
    }
  }
}
.bg-layout .layout {
  background-color: #fff !important;
}
.el-container {
  height: 100%;
}
.el-select__popper {
  border-radius: 8px !important;
}
// 修改el-tag样式
.el-tag {
  height: 28px !important;
  line-height: 28px !important;
  padding: 0 14px !important;
  border: 0 !important;
  border-radius: 6px !important;
  font-weight: bold;
  transition: all 0s !important;
}

.el-tag--success {
  background-color: rgba(#dcfce7, 0.85) !important;
}

.el-tag--success {
  background-color: --main-color !important;
}

.dark {
  .el-tag {
    color: #eee !important;
  }

  .el-tag--primary {
    background-color: #409eff !important;
  }

  .el-tag--success {
    background-color: #49bb78 !important;
  }

  .el-tag--info {
    background-color: #a1afc0 !important;
  }

  .el-tag--warning {
    background-color: #f7ae55 !important;
  }

  .el-tag--danger {
    background-color: #e53e3e !important;
  }

  .el-message {
    border: 1px solid var(--art-border-color) !important;
  }
}

.el-checkbox-group {
  &.el-table-filter__checkbox-group label.el-checkbox {
    height: 17px !important;

    .el-checkbox__label {
      font-weight: 400 !important;
    }
  }
}

.el-checkbox {
  .el-checkbox__inner {
    width: 18px !important;
    height: 18px !important;
    border-radius: 5px !important;

    &::after {
      width: 4px;
      height: 8px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 4px;
      margin: auto;
      border: 2px solid var(--el-checkbox-checked-icon-color);
      border-left: 0;
      border-top: 0;
    }
  }
}

.el-notification .el-notification__icon {
  font-size: 22px !important;
}

.el-message-box__headerbtn .el-message-box__close,
.el-dialog__headerbtn .el-dialog__close {
  color: #999 !important;
}

.el-table__column-filter-trigger i {
  color: var(--main-color) !important;
  margin: -3px 0 0 2px;
}

// 去除 el-dropdown 鼠标放上去出现的边框
.el-tooltip__trigger:focus-visible {
  outline: unset;
}

// ipad 表单右侧按钮优化
// @media screen and (max-width: $device-ipad-pro) {
//   .el-table-fixed-column--right {
//     padding-right: 0 !important;

//     .el-button {
//       margin: 5px 10px 5px 0 !important;
//     }
//   }
// }

.login-out-dialog {
  padding: 30px 20px !important;
  border-radius: 10px !important;
}
