// 媒体查询-设备尺寸
// notebook
$device-notebook: 1600px;
// ipad pro
$device-ipad-pro: 1180px;
// ipad
$device-ipad: 800px;
// ipad-竖屏
$device-ipad-vertical: 900px;
// mobile
$device-phone: 500px;

@import "./transition";
@import "./element-plus";
@import "./sidebar";
@import "./dark";
@import "./el-ui";

/* 自定义全局 CssVar */
:root {
  /* 左侧菜单展开、收起动画时长 */
  --pure-transition-duration: 0.3s;

  /* 常用border-color 需要时可取用 */
  --pure-border-color: rgb(5 5 5 / 6%);

  /* switch关闭状态下的color 需要时可取用 */
  --pure-switch-off-color: #a6a6a6;

  --layout-bg-color: 247 250 252;
  --un-ring-offset-shadow1: 0 1px rgb(0 0 0 / 0);
  --un-ring-offset-shadow: 0 0 rgb(0 0 0 / 0);
  --un-ring-shadow: 0 0 rgb(0 0 0 / 0);
  --header-box-shadow: 0 1px 2px rgb(0, 21, 41, 0.08);
  --tab-box-shadow: 0 1px 2px rgb(0, 21, 41, 0.08);
  --tab-box-shadow2: 3px 4px 4px 0px rgb(0, 21, 41, 0.08);
  --sider-box-shadow: 2px 0 8px 0 rgb(29, 35, 41, 0.05);
  --custom-radius: 0.5em;
  --art-primary: #1b84ff;
  --art-success: #17c653;
  --art-warning: #f6c000;
  --art-danger: #f8285a;
  --art-info: #7239ea;
  --art-color: #ffffff;
  --art-light: #f9f9f9;
  --art-dark: #1e2129;
  --art-primary-active: #056ee9;
  --art-success-active: #04b440;
  --art-warning-active: #dead00;
  --art-danger-active: #d81a48;
  --art-info-active: #5014d0;
  --art-light-active: #f1f1f4;
  --art-gray-100: #f9f9f9;
  --art-gray-100-rgb: 249, 249, 249;
  --art-gray-200: #f1f1f4;
  --art-gray-200-rgb: 241, 241, 244;
  --art-gray-300: #dbdfe9;
  --art-gray-300-rgb: 219, 223, 233;
  --art-gray-400: #c4cada;
  --art-gray-400-rgb: 196, 202, 218;
  --art-gray-500: #99a1b7;
  --art-gray-500-rgb: 153, 161, 183;
  --art-gray-600: #78829d;
  --art-gray-600-rgb: 120, 130, 157;
  --art-gray-700: #4b5675;
  --art-gray-700-rgb: 75, 86, 117;
  --art-gray-800: #252f4a;
  --art-gray-800-rgb: 37, 47, 74;
  --art-gray-900: #071437;
  --art-gray-900-rgb: 7, 20, 55;
  --art-text-muted: #99a1b7;
  --art-text-gray-100: #f9f9f9;
  --art-text-gray-200: #f1f1f4;
  --art-text-gray-300: #dbdfe9;
  --art-text-gray-400: #c4cada;
  --art-text-gray-500: #99a1b7;
  --art-text-gray-600: #78829d;
  --art-text-gray-700: #4b5675;
  --art-text-gray-800: #252f4a;
  --art-text-gray-900: #071437;
  --art-border-color: #eaebf1;
  --art-border-dashed-color: #dbdfe9;
  --art-box-shadow-xs: 0 0.1rem 0.75rem 0.25rem rgba(0, 0, 0, 0.05);
  --art-box-shadow-sm: 0 0.1rem 1rem 0.25rem rgba(0, 0, 0, 0.05);
  --art-box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075);
  --art-box-shadow-lg: 0 1rem 2rem 1rem rgba(0, 0, 0, 0.1);
  --art-root-card-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
  --art-root-card-border-color: #f1f1f4;
  --art-bg-color: #fafbfc;
  --art-main-bg-color: #ffffff;
}
.sidebar-custom {
  --un-shadow: var(--sider-box-shadow);
  box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);
}
.el-input {
  :deep(.el-input__wrapper) {
    background-color: rgba(var(--art-gray-200-rgb), 0.8);
    border: 1px solid var(--art-border-dashed-color);
    border-radius: calc(var(--custom-radius) / 2 + 2px) !important;
    box-shadow: none;
  }

  :deep(.el-input__inner) {
    color: var(--art-gray-600) !important;
  }

  .search-keydown {
    display: flex;
    align-items: center;
    height: 20px;
    padding: 0 4px;
    color: var(--art-gray-500);
    background-color: var(--art-bg-color);
    border-radius: 4px;

    i {
      font-size: 12px;
    }

    span {
      margin-left: 2px;
      font-size: 12px;
    }
  }
}
.btn-text {
  display: inline-block;
  min-width: 34px;
  height: 34px;
  padding: 0 10px;
  margin-right: 10px;
  font-size: 13px;
  line-height: 34px;
  color: #666;
  cursor: pointer;
  background-color: rgba(var(--art-gray-200-rgb), 0.7);
  border-radius: 6px;

  &:hover {
    color: var(--main-color);
    background-color: rgba(var(--art-gray-300-rgb), 0.5);
  }
}

/**
* 溢出省略号
* @param {Number} 行数
*/
@mixin ellipsis($rowCount: 1) {
  @if $rowCount <=1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $rowCount;
    -webkit-box-orient: vertical;
  }
}

.el-dialog {
  border-radius: var(--layoutRadius) !important;
}
.el-form-item-msg {
  color: #a7a7a7;
  font-size: 12px;
}
/* 全局滚动条样式 */
.scrollable {
  -webkit-overflow-scrolling: touch;
}
.highlight {
  background-color: yellow;
  font-weight: bold;
}
.el-loading-parent--relative {
  position: fixed !important;
}

/* 滚动条样式 */
.content-box::-webkit-scrollbar {
  width: 0px; /*  设置纵轴（y轴）轴滚动条 */
  height: 0px; /*  设置横轴（x轴）轴滚动条 */
}
/* 滚动条滑块（里面小方块） */
.content-box::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}
/* 滚动条轨道 */
.content-box::-webkit-scrollbar-track {
  border-radius: 0;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.1);
}
/* hover时显色 */
.content-box:hover::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(50, 50, 50, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(50, 50, 50, 0.6);
}

::-webkit-scrollbar-track {
  background-color: rgba(50, 50, 50, 0.1);
}

::-webkit-scrollbar-track:hover {
  background-color: rgba(50, 50, 50, 0.2);
}

/*****************************************/

.card-append {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  color: #999;
}
.card-item {
  min-height: 180px;
}
.app-container {
  padding: 15px;
}
.background-color {
  background-color: var(--el-bg-color);
}
.right-panel {
  min-width: 100px;
}

section.panel-padding > main,
section.panel-padding > header,
section.panel-padding > section,
section.panel-padding > aside {
  padding: 10px;
  border: unset;
  > div > div {
    border-radius: var(--el-border-radius-round);
    -webkit-border-radius: var(--el-border-radius-round);
    -moz-border-radius: var(--el-border-radius-round);
    -ms-border-radius: var(--el-border-radius-round);
    -o-border-radius: var(--el-border-radius-round);
  }
}
/*****************************************/

.main,
.el-container {
  height: 100%;
}
.el-header {
  background: var(--el-bg-color);
  border-bottom: 1px solid var(--el-border-color-light);
  padding: 13px 15px;
  justify-content: space-between;
}

.el-header,
.el-header .left-panel,
.el-header .right-panel {
  display: flex;
  align-items: center;
}

.el-header .right-panel > * + * {
  margin-left: 10px;
}
.el-main {
  flex-basis: 100%;
  height: 100%;
}
.el-main.nopadding {
  padding: 0;
  background: var(--el-bg-color);
  height: 100%;
}
/* 灰色模式 */
.html-grey {
  filter: grayscale(100%);
}

/* 色弱模式 */
.html-weakness {
  filter: invert(80%);
}
