<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.video.mapper.VideoPlatformMapper">
  <resultMap id="BaseResultMap" type="com.chua.starter.video.entity.VideoPlatform">
    <!--@mbg.generated-->
    <!--@Table video_platform-->
    <id column="video_id" jdbcType="VARCHAR" property="videoId" />
    <result column="video_name" jdbcType="VARCHAR" property="videoName" />
    <result column="video_icon" jdbcType="VARCHAR" property="videoIcon" />
    <result column="video_sort" jdbcType="INTEGER" property="videoSort" />
    <result column="video_status" jdbcType="INTEGER" property="videoStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="update_by" jdbcType="INTEGER" property="updateBy" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="update_name" jdbcType="VARCHAR" property="updateName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    video_id, video_name, video_icon, video_sort, video_status, create_time, update_time, 
    create_by, update_by, create_name, update_name
  </sql>
</mapper>