// .ant-drawer {
//   z-index: 1999 !important;
// }

// .ant-drawer-content-wrapper,
// .ant-modal-mask {
//   z-index: 2000 !important;
// }
// .ant-modal-mask {
//   z-index: 1999 !important;

//   .ant-modal-wrap {
//     z-index: 2000 !important;
//   }
// }
// .ant-tree-switcher.ant-tree-switcher_close {
//   top: 8px;
// }
.ant-notification,
.ant-select-dropdown,
.ant-dropdown{
  z-index: 3000 !important;
}

// .ant-notification-notice-with-icon {
//   display: flex;
//   flex-direction: row;
// }


.ant-card-head-title {
  min-height: 32px;
}
.anticon {
  position: relative !important;
  top: -3px
}
.ant-table-cell {
  z-index: 0 !important;
}